@charset "utf-8";
@import "../00_base/value";
/* /////////////////////////////////////////////////////////
  トップページ
///////////////////////////////////////////////////////// */

/* ======================
ページコンテンツ
====================== */
.page--home {
  .mainvisual {
    position: relative;
    overflow: hidden;
    height: 100svh;
    &__wrap {
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: rgba(#333, .35);
    }
    &__heading{
      opacity: 1;
      display: flex;
      flex-direction: row;
      position: absolute;
      z-index: 4;
      p {
        @include fontSize($fs_min: 28,$fs_max: 48);
        font-weight: 700;
        color: white;
        writing-mode: vertical-rl;
      }
    }
    &__content {
      @include makeContainer($mx:1000px, $pd_pc:60px, $pd_tb:60px, $pd_sp:15px);
      p {
        @include fontSize($fs_min: 18,$fs_max: 24);
        line-height: 3;
        font-weight: 700;
        color: white;

        @include smartphone {
          line-height: 2.6;
        }
      }
    }
    &__background {
      &--video {
        video {
          position: absolute;
          z-index: -1;
          top: 50%;
          left: 50%;
          min-width: 100%;
          min-height: 100%;
          transform: translate(-50%, -50%);
        }
      }
    }
    .fade-in { opacity: 1; transition: opacity 1s ease-in-out; }
  }

  .service{
    @include makeContainer($mx:1320px, $pd_pc:80px 60px, $pd_tb:80px 60px, $pd_sp:60px 20px);
    &__wrap{
      display: flex;
      flex-direction: column;
      gap: 60px;
    }
    &__heading{
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 0 60px;
      @media(max-width:1000px){
        padding: 0;
      }

      i {
        @include fontSize($fs_min: 40,$fs_max: 160);
        font-weight: 700;
        line-height: 1;
        color: $mainColor;
      }

      h2 {
        @include fontSize($fs_min: 24,$fs_max: 40);
        font-weight: 700;
        color: $mainColor;
      }
    }
    &__content{
      &--list{
        counter-reset: item;
        display: flex;
        flex-direction: column;
        gap: 40px;
        li{
          counter-increment: item;
          background-color: #eaf7fd;
          border-radius: 2em;
          a{
            display: grid;
            grid-template-columns: 40% auto;
            align-items: start;
            padding: 40px 60px;
            gap: 20px;
            @media(max-width:1000px){
              grid-template-columns: 1fr;
              padding: 20px;
              gap: 10px;
            }
            text-decoration: none;
            >div{
              display: flex;
              flex-direction: column;
              gap: 20px;
            }
            @include trans;
            &:hover{
              opacity: 0.8;
            }
          }
          figre{
            img{
              border-radius: 2em;
              width: 100%;
              height: 100%;
              aspect-ratio: 3 / 2;
              object-fit: cover;
            }
          }
          
          h3{
            @include fontSize($fs_min: 24,$fs_max: 40);
            font-weight: 700;
            color: $mainColor;
            display: flex;
            align-items: center;
            gap: 10px;
            &::before{
              content: counter(item, decimal-leading-zero);
              display: flex;
              justify-content: center;
              align-items: center;
              width: 60px;
              height: 60px;
              color: white;
              border-radius: 50%;
              background-color: $mainColor;
            }
          }
          p{
            @include fontSize($fs_min: 16,$fs_max: 20);
            font-weight: 500;
          }
          .more{
            span{
              color: white!important;
              background-color: $mainColor;
            }
          }
        }
      }
    }
  }

  .news{
    &__wrap{
      @include makeContainer($mx:1320px, $pd_pc:80px 60px, $pd_tb:80px 60px, $pd_sp:60px 15px);
      display: flex;
      flex-direction: column;
      gap: 50px;
    }
    &__heading {
      display: flex;
      flex-direction: column;

      i {
        font-family: Roboto Condensed;
        font-size: 11.0rem;
        font-weight: 700;
        line-height: 1;
        color: black;

        @include smartphone {
          font-size: 4.5rem;
        }
      }
      h2 {
        font-size: 2.4rem;
        font-weight: 900;
        color: black;

        @include smartphone {
          font-size: 1.4rem;
        }
      }
    }
    &__content{
      display: flex;
      flex-direction: column;
      gap: 50px;
    }
  }
}