@charset "utf-8";
@import "../00_base/value";
/* /////////////////////////////////////////////////////////
  サービス
///////////////////////////////////////////////////////// */

/* ======================
ページコンテンツ
====================== */
.page--service {
  padding-bottom: 80px;
  @include smartphone{
    padding-bottom: 60px;
  }
  .intro{
    &__wrap{
      @include makeContainer($mx:1320px, $pd_pc:80px 60px 0, $pd_tb:80px 60px 0, $pd_sp:60px 20px 0);
    }
    &__nav{
      ul{
        display: flex;
        justify-content: center;
        li{
          a{
            min-width: 146px;
            display: block;
            padding: 1em;
            @include fontSize($fs_min: 16,$fs_max: 24);
            font-weight: 500;
            color: white;
            text-decoration: none;
            text-align: center;
            background-color: $mainColor;
            border: 2px solid $mainColor;
            @include trans;
            @include smartphone{
              min-width: 96px;
            }
            &:hover{
              color: $mainColor;
              background-color: white;
            }
          }
          &:nth-of-type(1){
            a{
              border-right: none;
              border-top-left-radius: 1em;
              border-bottom-left-radius: 1em;
            }
          }
          &:nth-of-type(2){
            a{
              border-left: 2px solid white;
              border-right: 2px solid white;
            }
          }
          &:nth-of-type(3){
            a{
              border-left: none;
              border-top-right-radius: 1em;
              border-bottom-right-radius: 1em;
            }
          }
        }
      }
    }
  }
  .service{
    @include makeContainer($mx:1320px, $pd_pc:80px 60px, $pd_tb:80px 60px, $pd_sp:60px 20px);
    &__wrap{
      display: flex;
      flex-direction: column;
      gap: 60px;
    }
    &__heading{
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 0 60px;
      @media(max-width:1000px){
        padding: 0;
      }

      i {
        @include fontSize($fs_min: 40,$fs_max: 120);
        font-weight: 700;
        line-height: 1;
        color: $mainColor;
      }

      h2 {
        @include fontSize($fs_min: 24,$fs_max: 40);
        font-weight: 700;
        color: $mainColor;
      }
    }
    &__content{
      &--list{
        counter-reset: item;
        display: flex;
        flex-direction: column;
        gap: 40px;
        li{
          display: grid;
          grid-template-columns: 1fr 1fr;
          align-items: start;
          padding: 40px 60px;
          gap: 20px;
          counter-increment: item;
          background-color: $gray-light;
          border-radius: 2em;
          @include smartphone{
            border-radius: 1em;
            grid-template-columns: 1fr;
            padding: 20px;
            gap: 10px;
          }
          >figre{
            img{
              border-radius: 1em;
              width: 100%;
              height: 100%;
              aspect-ratio: 3 / 2;
              object-fit: cover;
            }
          }
          >div{
            @include flex-gap(20px, 10px, $direction: column);
            h3{
              @include fontSize($fs_min: 24,$fs_max: 40);
              font-weight: 700;
              color: $mainColor;
              display: flex;
              align-items: center;
              gap: 10px;
              &::before{
                content: counter(item, decimal-leading-zero);
                display: flex;
                justify-content: center;
                align-items: center;
                width: 60px;
                height: 60px;
                color: white;
                border-radius: 50%;
                background-color: $mainColor;
              }
            }
            p{
              @include fontSize($fs_min: 16,$fs_max: 20);
              font-weight: 500;
            }
            .more{
              span{
                color: white!important;
                background-color: $mainColor;
              }
            }
          }
        }
      }
      &--link{
        a{
          padding: 40px 40px 60px;
          display: block;
          background-color: white;
          border-radius: 1em;
          position: relative;
          border: 2px solid black;
          @include trans;
          &:hover{
            opacity: 0.6;
          }
          figre{
            img{
              margin-inline: auto;
            }
          }
          .dli-external-link {
            display: inline-block;
            vertical-align: middle;
            color: black;
            line-height: 1;
            width: 0.9em;
            height: 0.9em;
            border: 0.2em solid currentColor;
            border-radius: 0.2em;
            background: #fff;
            box-sizing: content-box;
            position: absolute;
            bottom: 20px;
            right: 20px;
            span {
              position: absolute;
              top: -0.2em;
              right: -0.2em;
              width: 45%;
              height: 45%;
              border: 0.2em solid currentColor;
              border-bottom: 0;
              border-left: 0;
              background: #fff;
              box-shadow: -0.1em 0.1em 0 0.1em #fff;
              box-sizing: border-box;
              &::before {
                content: '';
                position: absolute;
                top: -0.05em;
                right: -0.1em;
                width: 0.1em;
                height: 0.9em;
                background: currentColor;
                transform: rotate(45deg);
                transform-origin: top center;
              }
            }
          }
        }
        &.sales{
          img{
            width: 100%;
            max-width: 300px;
            margin-inline: auto;
          }
        }
      }
    }
  }
}