@charset "utf-8";
@import "../00_base/value";
/* ///////////////////////////////////////////
  header.scss
  ヘッダーに関する設定
/////////////////////////////////////////// */
.header{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: transparent;
  transition: all .3s ease-out;
  &__wrap {
    display: grid;
    grid-template-columns: 260px auto;
    align-items: center;

    @include smartphone {
      grid-template-columns: 195px auto;
    }
  }
  &__logo,
  &__mobile-logo {
    padding: 40px;
    @include smartphone {
      padding: 10px 15px;
    }

    &-mark {
      &--white{
        display: block;
      }
      &--default{
        display: none;
      }
      a{
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        gap: 10px;
        text-decoration: none;
        white-space: nowrap;
        @include trans;
        span{
          @include fontSize($fs_min: 18,$fs_max: 20);
          font-weight: 700;
          color: white;
        }
        &:hover{
          opacity: 0.6;
          transform: translateY(4px);
        }
      }
    }
  }
  &__content{
    padding: 40px;
    @include smartphone {
      padding: 10px 15px;
    }
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 60px;
  }
  &__nav {
    @media (max-width: 1300px) {
      display: none;
    }
    &-list{
      display: flex;
      flex-wrap: nowrap;
      >li{
        position: relative;
        >a{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          white-space: nowrap;
          padding: 20px 40px;
          height: 74px;
          text-align: center;
          text-decoration: none;
          position: relative;
          @include trans;
          span{
            @include fontSize($fs_min: 18,$fs_max: 20);
            color: white;
            font-weight: 700;
            list-style: 1;
          }
          &:hover{
              opacity: 0.6;
              transform: translateY(4px);
          }
        }
        ol{
          width: 260px;
          display: flex;
          flex-direction: column;
          position: absolute;
          top: 80px;
          left: 0;
          display: none;
          li{
            border-top: 1px solid black;
            a{
              display: block;
              text-decoration: none;
              color: black;
              padding: 15px 60px 15px 20px;
              background: url("#{$imgPath}/common/arrow_right.svg") no-repeat right 20px center;
              background-color: rgba(#FFFFFF, .9);
              white-space: nowrap;
              @include trans;
              &:hover{
                opacity: 0.6;
              }
            }
          }
        }
      }
    }
  }
  &__hamburger {
    padding: 10px;
    @include smartphone{
      padding: 10px 0;
    }
    @media (min-width: 1300px) {
      display: none;
    }
    &-bars{
      cursor: pointer;
      position: relative;
      z-index: 1110;
      width: 74px;
      height: 74px;
      @include smartphone{
        width: 65px;
      }
      span{
          display: inline-block;
          position: absolute;
          left: 0;
          height: 2px;
          border-radius: 5px;
          width: 100%;
          max-width: 74px;
          background-color: white;
          transform-origin: top;
          @include trans;
          &:nth-of-type(1) {
            top:24px;
          }
          &:nth-of-type(2) {
            top:37px;
          }
          &:nth-of-type(3) {
            top:50px;
          }
      }
      &.active{
        span{
          &:nth-of-type(1) {
            top: 35px;
            transform: rotate(-45deg);
          }
          &:nth-of-type(2) {
            display: none;
          }
          &:nth-of-type(3) {
            top: 35px;
            transform: rotate(45deg);
          }
        }
      }
    }
  }
  &__mobile {
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    z-index: 1100;
    top: 0;
    right: 0;
    overflow-y: auto;
    @include trans;
    &-wrap{
      width: 100%;
      height: 100%;
      background-color: rgba(#000,0.6);
      opacity: 0;
    }
    &-content{
      position: fixed;
      z-index: 1200;
      top: 0;
      right: -100%;
      opacity: 0;
      display: flex;
      justify-content: flex-end;
      align-items: flex-start;
      @include smartphone{
        padding: 120px 30px 0;
      }
      @include screen{
        padding: 140px 30px 0;
      }
      @include trans;
    }
    &-nav{
      position: relative;
      &-close{
        width: 46px;
        height: 46px;
        background-color: black;
        border-radius: 50%;
        position: absolute;
        top: -10px;
        right: -10px;
        cursor: pointer;
        span{
          display: inline-block;
          position: absolute;
          left: 13px;
          height: 2px;
          border-radius: 5px;
          width: 100%;
          max-width: 20px;
          background-color: white;
          transform-origin: top;
          @include trans;
          &:nth-of-type(1) {
            top:23px;
            transform: rotate(-45deg);
          }
          &:nth-of-type(2) {
            top:23px;
            transform: rotate(45deg);
          }
        }
      }
      &-list{
        width: 260px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 40px;
        border-radius: 2em;
        background-color: white;
      }
      &-item{
        >a{
          display: block;
          text-decoration: none;
          color: $fontColor;
          border-bottom: 2px dashed black;
          padding: 10px;
          @include trans;
          &:link,
          &:visited{
            color: white;
          }
          &:hover{
            opacity: .35;
          }
        }
      }
      &-link{
        @include fontSize($fs_min: 18,$fs_max: 20);
        font-weight: 700;
        color: $fontColor;
        line-height: 1;
      }
    }
  }
  &.current {
    .header__logo-mark {
      .header__logo-mark--white {
        display: none;
      }

      .header__logo-mark--default {
        display: block;
      }
      a {
        color: $mainColor;

        span {
          color: $mainColor;
        }
      }
    }

    .header__content {
      .header__hamburger-bars {
        span {
          background-color: $mainColor;
        }

        &.active {
          span {
            background-color: white;
          }
        }
      }
      .header__nav {
        a {
          color: black;

          span {
            color: black;
          }
        }
      }
    }
  }
}