@charset "utf-8";
@import "../00_base/value";
/* ///////////////////////////////////////////
  layout.scss
  全体のレイアウトに関する記述
/////////////////////////////////////////// */
/* 全体のリセットとボックスモデルの設定 */
*, html, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* HTMLスタイル */
html {
  scroll-behavior: smooth;
  scroll-padding-top: 180px;
  word-wrap: break-word;
  font-size: 62.5%;
  @include smartphone {
    scroll-padding-top: 70px;
  }
}

/* ボディスタイル */
body {
  font-family: $zenmaru;
  color: $fontColor;
  background-color: white;
  font-weight: 400;
  -webkit-text-size-adjust: 100%;
  @include fontSize;
  @include smartphone {
    line-height: $splh;
  }
  @include screen {
    line-height: $pclh;
  }
}

/* 見出し、リスト、テーブル、パラグラフのリセット */
h1, h2, h3, h4, h5, h6,
table, tr, td, th,
ol, ul, li,
dl, dt, dd,
p,
figure {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 100%;
  list-style: none;
}

/* イタリックとエム要素のスタイル */
i, em {
  font-style: normal;
}

/* 画像スタイル */
img {
  display: block;
  border: none;
  width: auto;
  max-width: 100%;
  height: auto;
  image-rendering: -webkit-optimize-contrast;
}

/* アンカーリンクとフォーカススタイル */
a {
  outline: none;

  &:link,
  &:visited,
  &:hover,
  &:active {
    color: $fontColor;
  }

  &:hover {
    text-decoration: none;
  }
}

a, *:focus {
  outline: none;
}

/* 選択テキストのスタイル */
*::selection,
*::-moz-selection {
  background: $mainColor;
  color: #FFF;
}

/* 非表示クラス */
.hide {
  display: none !important;
}

.hideSP {
  @include smartphone {
    display: none !important;
  }
}

.hideTL {
  @include tablet {
    display: none !important;
  }
}

.hideDT {
  @include desktop {
    display: none !important;
  }
}

.hidePC {
  @include screen {
    display: none !important;
  }
}

/* reCAPTCHA バッジのスタイル */
.grecaptcha-badge {
  visibility: hidden;
}

/* アニメーションクラス */
.js-fadeUp {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.5s, transform 1s;
}

.js-fadeIn {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
